/* navbar.scss */

.navbar {
  background-color: #333;
  color: white;
  padding: 15px 0;
  position: fixed; /* Fixed positioning to stick to the top */
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Set the width to cover the screen width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-links a:hover {
  text-decoration: underline;
}