/*= require_tree .
 *= require_self
 */

/* Review Index Page */
.reviews-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reviews-list p {
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Review Form */
.review-form {
    width: 70%;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

.review-form label,
.review-form input,
.review-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}